@(numbers: List[String], classes: List[String])

@import helper._
@import helper.twitterBootstrap._

@main("Statistics | Institute of AIFB of the Karlsruhe Univesity | Ontology-Driven Semantic Web Application") {

<div class="row">
    <div class="col-md-6">
        <select class="form-control" id="selectedClass" data-toggle="popover" data-trigger="focus" data-content="Please select a class to generate charts">
            <option value="">Select a Class</option>
            <option value="Person">Person</option>
            <option value="Employee">Employee</option>
            <option value="Student">Student</option>
            <option value="Publication">Publication</option>
        </select>
    </div>

    <div class="col-md-6">
        <a class="stats_link" href="/statistics-publications">Number of Publications by year (Charts)</a>
    </div>
</div>

<div class="row charts">
    <div class="col-md-12">

        <h2>Number of Individuals by Class</h2>

        <ul id="chartType" class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#pie" id="pie-tab" role="tab" data-toggle="tab" aria-controls="pie" aria-expanded="true">Pie Chart</a></li>
            <li role="presentation"><a href="#polar" role="tab" id="polar-tab" data-toggle="tab" aria-controls="polar">Bar Chart</a></li>
            <li role="presentation"><a href="#bar" role="tab" id="bar-tab" data-toggle="tab" aria-controls="bar">Polar Area Chart</a></li>
            <li role="presentation"><a href="#radar" role="tab" id="radar-tab" data-toggle="tab" aria-controls="radar">Radar Chart</a></li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane in active" id="pie" aria-labelledby="pie-tab">
                <div id="canvas-holder"><canvas id="chart-area" width="500" height="500"/></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="polar" aria-labelledby="polar-tab">
                <div id="canvas-holder"><canvas id="chart-area2" width="700" height="500"/></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="bar" aria-labelledby="bar-tab">
                <div id="canvas-holder"><canvas id="chart-area3" width="500" height="500"/></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="radar" aria-labelledby="radar-tab">
                <div id="canvas-holder"><canvas id="chart-area4" width="500" height="500"/></div>
            </div>
        </div>
    </div>
</div>


<script language="JavaScript">

    $(document).ready(function() {

        var urlClass = getParameterByName('q');
        if(urlClass != "") {
            $("#selectedClass").val(urlClass);
        } else {
            $('#selectedClass').popover('toggle');
        }

        $("#selectedClass").on('change', function () {
            if($("#selectedClass").val()!="") {
                window.location.replace("http://xen9.helios.atomate.net:9000/statistics?q="+$("#selectedClass").val());
            }
        });

        // ===== Initialize Charts ======
        var data = [];
        var labelsArray = [];
        var dataArray = [];
        var ctx = document.getElementById("chart-area").getContext("2d");
        var ctx2 = document.getElementById("chart-area2").getContext("2d");
        var ctx3 = document.getElementById("chart-area3").getContext("2d");
        var ctx4 = document.getElementById("chart-area4").getContext("2d");

        var colors = [
            "#e53935", "#43A047", "#1E88E5", "#FDD835", "#F4511E", "#6D4C41", "#3949AB", "#D81B60", "#8E24AA", "#00ACC1", "#7CB342", "#FFB300", "#546E7A", "#1E88E5", "#C0CA33", "#757575", "#ff1744", "#2979FF", "#FFC400", "#FF3D00"
        ];

        var highlightColors = [
            "#ef9a9a", "#81C784", "#64B5F6", "#FFF176", "#FF8A65", "#A1887F", "#7986CB", "#F06292", "#BA68C8", "#4DD0E1", "#AED581", "#FFD54F", "#90A4AE", "#64B5F6", "#DCE775", "#BDBDBD", "#ff8a80", "#82B1FF", "#FFE57F", "#FF9E80"
        ];

        @if(!numbers.isEmpty && !classes.isEmpty) {
            @for(index <- 0 until numbers.size) {
                data.push({ value: @numbers(index), color: colors[@index], highlight: highlightColors[@index], label: '@classes(index)' });

                dataArray.push(@numbers(index));
                labelsArray.push("@classes(index)");
            }
        }

        var options = {
            legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%> (<%=segments[i].value%>)<%}%></li><%}%></ul>"
        }

        var helpers = Chart.helpers;

        window.chart = new Chart(ctx).Pie(data, options);

        if(urlClass != "") {
            var legendHolder = document.createElement('div');
            legendHolder.innerHTML = window.chart.generateLegend();

            // Include a html legend template after the module doughnut itself
            helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                helpers.addEvent(legendNode, 'mouseover', function () {
                    var activeSegment = window.chart.segments[index];
                    activeSegment.save();
                    window.chart.showTooltip([activeSegment]);
                    activeSegment.restore();
                });
            });
            helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                window.chart.draw();
            });

            window.chart.chart.canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
        }

        var data2 = {
            labels: labelsArray,
            datasets: [
                {
                    label: "My Second dataset",
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",
                    data: dataArray
                }
            ]
        };

        $('#chartType a').click(function (e) {
            e.preventDefault();
            var tabId = $(this).attr('id');
            $(this).tab('show');

            if (tabId == "bar-tab") {
                window.chart = new Chart(ctx3).PolarArea(data, options);
                if($("#polar").find(".polararea-legend")) {
                    // console.log($("#polar").find(".polararea-legend"));
                    return false;
                }
            }
            else if (tabId == "polar-tab") {
                window.chart = new Chart(ctx2).Bar(data2);
                return false;
            }
            else if (tabId == "radar-tab") {
                window.chart = new Chart(ctx4).Radar(data2);
                return false;
            }
            else if (tabId == "pie-tab") {
                window.chart = new Chart(ctx).Pie(data);
                if($("#pie").find(".pie-legend")) {
                    return false;
                }
            }

            var legendHolder = document.createElement('div');
            legendHolder.innerHTML = window.chart.generateLegend();

            // Include a html legend template after the module doughnut itself
            helpers.each(legendHolder.firstChild.childNodes, function (legendNode, index) {
                helpers.addEvent(legendNode, 'mouseover', function () {
                    var activeSegment = window.chart.segments[index];
                    activeSegment.save();
                    window.chart.showTooltip([activeSegment]);
                    activeSegment.restore();
                });
            });
            helpers.addEvent(legendHolder.firstChild, 'mouseout', function () {
                window.chart.draw();
            });

            window.chart.chart.canvas.parentNode.parentNode.appendChild(legendHolder.firstChild);
        });

    });
</script>

}